<container><form action="/restaurants" method="POST" class="mx-auto my-2 p-2 border border-secondary border-2 rounded" style="width:500px;">
    <div class="mb-2 text-center"><h4>新增餐廳資料</h4></div>
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">name</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="name" value="{{restaurant.name}}" name="name" required>
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">name_en</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="name_en" value="{{restaurant.name_en}}" name="name_en" required>
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput3" class="form-label">category</label>
        <input type="text" class="form-control" id="formGroupExampleInput3" placeholder="category" value="{{restaurant.category}}" name="category" required>
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput4" class="form-label">image</label>
        <input type="text" class="form-control" id="formGroupExampleInput4" placeholder="https://......." value="{{restaurant.image}}" name="image" required>
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput5" class="form-label">location</label>
        <input type="text" class="form-control" id="formGroupExampleInput5" placeholder="location" value="{{restaurant.location}}" name="location" required>
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput6" class="form-label">phone</label>
        <input type="text" class="form-control" id="formGroupExampleInput6" placeholder="phone" value="{{restaurant.phone}}" name="phone" required>
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput7" class="form-label">google_map</label>
        <input type="text" class="form-control" id="formGroupExampleInput7" placeholder="https://....." value="{{restaurant.google_map}}"
            name="google_map" required>
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput8" class="form-label">rating</label>
        <input type="number" class="form-control" id="formGroupExampleInput8" placeholder="rating" value="{{restaurant.rating}}" name="rating" step="0.1" required>
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput9" class="form-label">description</label>
        <input type="text" class="form-control" id="formGroupExampleInput9" placeholder="description" value="{{restaurant.description}}" name="description" required>
    </div>
    <div class="mb-2 text-center"><button  class="btn btn-primary" type="submit">create</button></div>
</form></container>
